body{
    background-color: black;
}

h1{
    color: white;
}
.parent_container{
    border:1px solid rgb(151, 151, 240);
    width: 380px;
    height: 300px;
    margin: 14% 10% 20% 30%;
    color: white;
    border-radius:12px;
    position: fixed;
    display: grid;
    grid-template-rows: 50% 50%;
    overflow-clip-margin: 10px;
    
}
.figure{
   display: flex;
   align-items: center;
   justify-content: center;
}
.applyHidden,.applyScroll,.applyAuto,.applyClip{
    position: fixed;
    background-color: rgb(255, 255, 255);
    border-radius: 1vw;
    border: none;
    font-weight: 450;
    width:16vw;
    height: 3vw;
}
.applyHidden{
    right: 2vw;
}
.applyScroll{
    left: 2vw;
}
.applyAuto{
    left: 28vw;
}
.applyClip{
    left:52vw;
}
p{
    margin-top: 0px;
}
.applyHidden:hover{
    background-color: rgb(236, 233, 233);
    cursor: pointer;
}

@media screen  and (width<=1000px) {
    .parent_container{
        width: 50vw;
        height: 50vh;
        margin-left: 24%;
        overflow-clip-margin: 8px;
    }
    .figure > img {
         width:40%;
    }
    .applyHidden,.applyScroll,.applyAuto,.applyClip{
        right: 2vw;
        width:20vw;
        height: 6vh; 
        font-size: 0.6em;
    }
    .applyHidden.applyClip,.applyAuto,.applyScroll:hover{
        background-color: rgb(236, 233, 233);
        cursor: pointer;
    }
}

@media screen  and (width:1024px) and (height:600px) {
    .parent_container{
        width: 40vw;
        height: 4vh;
        margin-left: 24%;
        overflow-clip-margin: 0.9em;
    }
    .figure > img {
         width:18%;
    }
}

@media screen  and (width <=400px) and (height<=900px) {
    .parent_container{
        width: 58vw;
        height: 200px;
        margin-left: 10%;
        background-color: brown;
    }
    .figure > img {
         width:13%;
    }
}
@media screen  and (width <=1000px) and (width>=800px) {
    .figure > img {
         width:17%;
    }
 
}

@media screen and (width <=500px) {
    .applyHidden,.applyScroll,.applyAuto,.applyClip{
        right: 2vw;
        width:26vw;
        height: 5vh; 
        font-size: 0.5em;
    }
    .applyHidden,.applyScroll,.applyAuto,.applyClip:hover{
        background-color: rgb(236, 233, 233);
        cursor: pointer;
    }

}